@model List<Post>
@{
    ViewBag.Title = "ManagementPost";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
@using FivePSocialNetwork.Models;
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Quản lý bài viết</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6" ng-app="myApp">
    <div class="row" ng-controller="myCtrl">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0"><i class="fas fa-list"></i> Danh sách bài viết </h3>
                </div>
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Tìm ..." type="text">
                    </div>
                </div>

                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th style="font-size:13px" scope="col" class="sort" data-sort="name">Tiêu đề</th>
                                <th style="font-size:13px" scope="col" class="sort border-left" data-sort="budget">Lượt Like</th>
                                <th style="font-size:13px" scope="col" class="sort" data-sort="status">Lượt DisLike</th>
                                <th style="font-size:13px" scope="col"> Lượt xem</th>
                                <th style="font-size:13px" scope="col" class="sort" data-sort="completion"> Trạng thái</th>
                                <th style="font-size:13px" scope="col"> Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <a class="name mb-0" style="font-size:14px" href="@Url.Action("PostDetail/"+item.post_id,"View")">
                                                @item.post_title;
                                            </a>
                                        </div>

                                    </div>
                                </td>
                                <td class="budget border-left" style="font-size:14px">
                                    <i class="far fa-thumbs-up"> </i> @item.Rate_Post.Where(X => X.ratePost_rateStatus == true).Count()
                                </td>
                                <td class="budget" style="font-size:14px">
                                    <i class="far fa-thumbs-down"></i> @item.Rate_Post.Where(X => X.ratePost_rateStatus == false).Count()
</td>
                                <td class="budget" style="font-size:14px">
                                    <i class="far fa-eye"></i> @item.post_view
                                </td>


                                <td>
                                    <label class="custom-toggle">
                                        @{ if (item.post_admin_recycleBin == true)
                                            {
                                                <input id="@item.post_id"  name="form-check" checked type="checkbox">
                                            }
                                            else
                                            {
                                                <input id="@item.post_id" name="form-check"  type="checkbox">

                                            } }

                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="@Url.Action("PostDetail/"+item.post_id,"View")"><i class="fas fa-info-circle"></i> Chi tiết</a>
                                            <a class="dropdown-item" href="@Url.Action("DeletePost/"+item.post_id,"View")"><i class="far fa-trash-alt"></i> Xóa</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/View/ListMenber")
            .then(function (response) {
                // First function handles success
                $scope.listMember = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listMember = "Something went wrong";
            });
    });
    $(document).ready(function () {
        $(document).on('click', "input[name = 'form-check']", function () {

            $.ajax({
                url: '/UserManagement/UpdateStatus/' + this.id,
                type: 'Post',
                datatype: 'json',
                data: { Status: this.checked},
                success: function (data) {
                  
                }
            });
            });

    });
</script>