@model List<Post>
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    var Id = ViewBag.UseId;
}
@using FivePSocialNetwork.Models;

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/Add/MessGroup.css" rel="stylesheet" />
<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-black d-inline-block mb-0">Tất cả bài viết</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tất cả bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8" ng-app="myApp" ng-controller="myCtrl">

    <div class="row mt-7">

        <div class="col-xl-8">
            <!-- Post Begins -->
            <!-- post header -->
            @foreach (var item in Model.ToList())
            {
                <section class="card p-0 mb-1">
                    <div class="border p-2">
                        <div class="row">
                            <div class="col-2">
                                <a class="text-decoration-none" href="">
                                    @if (item.post_image.Length > 0)
                                    {
                                        <img class="profile-pic rounded" src="@item.post_image" width="100" height="100" alt="...">
                                    }
                                    else
                                    {
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="50" height="50" alt="...">
                                    }

                                </a>
                            </div>
                            <div class="col-10 pl-0">
                                <div class="row m-0">
                                    <div class="flex-grow-1 pl-2">
                                        <a class="text-decoration-none" href="/View/PostDetail/@item.post_id">
                                            <h2 class="text-capitalize h5 mb-2" style="font-size: 16px; color: #f05123 ">  @item.post_title</h2>
                                        </a>
                                        <a class="text-decoration-none" href="">
                                            <h2 class="text-capitalize h5 mb-0" style="font-size:14px"> Người tạo: @(item?.User?.user_firstName + " " + item?.User?.user_lastName)  </h2>
                                        </a>
                                        <p class="mb-0">@item.post_dateCreate.Value.ToString("dd-MM-yyyyy") <i class="far fa-calendar-alt"></i></p>
                                        <div class="d-flex align-items-center" style="gap:10px; height:14px !important">
                                            @{
                                                if (item.Rate_Post.Where(X => X.user_id == Id && X.ratePost_rateStatus == true).Count() > 0)
                                                {
                                                    <center>
                                                        <a href="/View/Like/@item.post_id"><i class="far fa-thumbs-up text-blue" style="font-size:14px;">@item.Rate_Post.Where(X => X.ratePost_rateStatus == true).Count()</i></a>

                                                    </center>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <a class="text-dark" href="/View/Like/@item.post_id"><i class="far fa-thumbs-up " style="font-size:14px;">@item.Rate_Post.Where(X => X.ratePost_rateStatus == true).Count()</i></a>

                                                    </center>
                                                }
                                            }

                                            @{
                                                if (item.Rate_Post.Where(X => X.user_id == Id && X.ratePost_rateStatus == false).Count() > 0)
                                                {
                                                    <center>
                                                        <a href="/View/DistLike/@item.post_id"><i class="far fa-thumbs-down text-blue" style="font-size:14px;">@item.Rate_Post.Where(X => X.ratePost_rateStatus == false).Count()</i></a>

                                                    </center>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <a class="text-dark" href="/View/DistLike/@item.post_id"><i class="far fa-thumbs-down" style="font-size:14px;">@item.Rate_Post.Where(X => X.ratePost_rateStatus == false).Count()</i></a>

                                                    </center>
                                                }
                                            }
                                            <center class="mt-4 mb-4">

                                                <i class="fas fa-eye" style="font-size:14px;">@item.post_view</i>
                                            </center>
                                        </div>
                                    </div>

                                </div>
                                <!-- post body -->




                            </div>

                        </div>
                    </div>
                </section>
            }


        </div>
        <div class="col-4">
            <img src="~/Image/Advertisement/khoa-hoc-data-science-khtn.png"  style="width:100%"/>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Sk3nwOc</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Sk3nwOc</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script>
    $(document).ready(function () {

        $("#dset").click(function () {
            $(".setting-drop").toggle('1000');
        });
        $("#video_chat").click(function () {
            $("#video_section").toggle('slow');
            $(".msg_history").toggle(' ');
        });
    });
    var app = angular.module('myApp', ['ngSanitize']);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/Center/QuestionsJson")
            .then(function (response) {
                // First function handles success
                $scope.listQuestions = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listQuestions = "Something went wrong";
            });

</script>